<!-- auditoria.html -->
<!DOCTYPE html>
<html lang="en-us">
<head>
<title>Auditoria</title>
<link rel="stylesheet" href="/static/admin/css/base.css">
<link rel="stylesheet" href="/static/admin/css/dark_mode.css">
<script src="/static/admin/js/theme.js" defer></script>
<link rel="stylesheet" href="/static/admin/css/nav_sidebar.css">
<script src="/static/admin/js/nav_sidebar.js" defer></script>
<link rel="stylesheet" href="/static/admin/css/forms.css">
<script src="/admin/jsi18n/"></script>
<script src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script src="/static/admin/js/calendar.js"></script>
<script src="/static/admin/js/jquery.init.js"></script>
<script src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script src="/static/admin/js/core.js"></script>
<script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script src="/static/admin/js/actions.js"></script>
<script src="/static/admin/js/urlify.js"></script>
<script src="/static/admin/js/prepopulate.js"></script>
<script src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/admin/css/responsive.css">
<meta name="robots" content="NONE,NOARCHIVE">
<style>
        .logo-small {
          width: 50px; /* Cambia este valor según el tamaño deseado */
          height: auto; /* Para mantener la proporción */
          padding-right: 30px;
        }
</style>
</head>

<body class="app-LOGIN model-auditoria change-form" data-admin-utc-offset="0">
<a href="#content-start" class="skip-to-content-link">Skip to main content</a>
<!-- Container -->
<div id="container">
    <!-- Header -->
    <!-- Breadcrumbs -->
    <nav aria-label="Breadcrumbs">
        <div class="breadcrumbs">
            <a href="/LOGIN/home/">Home</a> &rsaquo;
            <a href="">AUDITAR</a> &rsaquo;
        </div>
    </nav>

    <header id="header">
        <div id="branding">
            <div id="site-name">
                <img src="/static/imagen/logosga.png" alt="Logo SGA" class="logo-small">
                <a href="/admin/">SISTEMA DE GESTION DE AUDITORIA</a>
            </div>
        </div>
        <div id="user-tools">
            Welcome, <strong>USER</strong>.
            <form id="logout-form" method="post" action="/admin/logout/">
                <input type="hidden" name="csrfmiddlewaretoken" value="JIJwpHHQoY9cozrUBYRjzS0nLuH2fVChlKib0B31Vg6IgzPrWnjH2UZglsA4zesm">
                <button type="submit">Log out</button>
            </form>
            <button class="theme-toggle">
                <div class="visually-hidden theme-label-when-auto">Toggle theme (current theme: auto)</div>
                <div class="visually-hidden theme-label-when-light">Toggle theme (current theme: light)</div>
                <div class="visually-hidden theme-label-when-dark">Toggle theme (current theme: dark)</div>
                <svg aria-hidden="true" class="theme-icon-when-auto">
                    <use xlink:href="#icon-auto" />
                </svg>
                <svg aria-hidden="true" class="theme-icon-when-dark">
                    <use xlink:href="#icon-moon" />
                </svg>
                <svg aria-hidden="true" class="theme-icon-when-light">
                    <use xlink:href="#icon-sun" />
                </svg>
            </button>
        </div>
    </header>
    <!-- END Header -->

    <div class="main" id="main">
        <nav class="sticky" id="nav-sidebar" aria-label="Sidebar">
            <input type="search" id="nav-filter" placeholder="Start typing to filter…" aria-label="Filter navigation items">
        </nav>
        <main id="content-start" class="content" tabindex="-1">
            <!-- Content -->
            <div id="content" class="colM">
                <h1>Auditoria</h1>
                <div id="content-main">                    
                    <form method="post" action="{% url 'AUDITORIA' %}">
                        {% csrf_token %}
                        <div>
                            <select name="auditorias_cb" required id="id_auditorias_cb">
                                <option value="" selected>---------</option>
                                    <!--NUEVO FOR PARA CONCATENAR EL NOMBRE DE LA PLANTILLA AL FORMULARIO-->
                                    {% for AUD in AUDITORIA %}  
                                    {% for AgendaAuditorias in AGENDAAUDITORIAS %}
                                            {% if AgendaAuditorias.id_agenda == AUD.agenda_auditorias.id_agenda %}
                                            <option value="{{ AUD.id_auditar }}">{{ AUD.agenda_auditorias.nombre_entidad }} - {{ AgendaAuditorias.auditor.full_name }}</option>
                                            {% endif %}
                                        {% endfor %}                                    
                                    {% endfor %}    
                            </select>
                            <!--
                            <input type="button" value="✎ Editar" class="default" name="_xxx" onclick="actualizar_campos_form()">
                            -->
                            <input type="submit" value="☜ Auditar" class="default" name="_auditar"> 
                            <input type="submit" value="✘ Eliminar" class="default" name="_delete_age">
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
