<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREAR PLANTILLA</title>
    <link rel="stylesheet" href="/static/admin/css/base.css">
    <link rel="stylesheet" href="/static/admin/css/dark_mode.css">
    <script src="/static/admin/js/theme.js" defer></script>
    <link rel="stylesheet" href="/static/admin/css/nav_sidebar.css">
    <script src="/static/admin/js/nav_sidebar.js" defer></script>
    <link rel="stylesheet" href="/static/admin/css/forms.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/admin/css/responsive.css">
    <script src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
    
    <script src="./js/vendor/theme.js" defer></script>
    <script src="./vendor/nav_sidebar.js" defer></script>
    <script src="/admin/jsi18n/"></script>
    <script src="./vendor/jquery/jquery.js"></script>
    <script src="./vendor/calendar.js"></script>
    <script src="./vendor/jquery.init.js"></script>
    <script src="./admin/DateTimeShortcuts.js"></script>
    <script src="./vendor/core.js"></script>
    <script src="./admin/RelatedObjectLookups.js"></script>
    <script src="./vendor/actions.js"></script>
    <script src="./vendor/urlify.js"></script>
    <script src="./vendor/prepopulate.js"></script>
    <script src="./vendor/xregexp/xregexp.js"></script>
    <meta name="robots" content="NONE,NOARCHIVE">

    <style>
        .logo-small {
          width: 50px; /* Cambia este valor según el tamaño deseado */
          height: auto; /* Para mantener la proporción */
          padding-right: 30px;
        }
    </style>
</head>
<body class="app-LOGIN model-plantilla change-form" data-admin-utc-offset="0">
<a href="#content-start" class="skip-to-content-link">Skip to main content</a>
<!-- Container -->
<div id="container">
    <!-- Header -->
    <header id="header">
        <div id="branding">
            <div id="site-name">
                <img src="/static/imagen/logosga.png" alt="Logo SGA" class="logo-small">
                <a href="/admin/">SISTEMA DE GESTION DE AUDITORIA</a></div>
        </div>
        <div id="user-tools">
            Welcome,
            <strong>USER</strong>.         
            <form id="logout-form" method="post" action="/admin/logout/">
                <input type="hidden" name="csrfmiddlewaretoken" value="iuJXMFx3kAvsE1jefFwCjmGBodfonr6uUwiCnzTeRSsYw1HLA4Y0MoFuYb8qHKWz">
                <button type="submit">Log out</button>
            </form>
            <button class="theme-toggle">
                    <div class="visually-hidden theme-label-when-auto">Toggle theme (current theme auto)</div>
                    <div class="visually-hidden theme-label-when-light">Toggle theme (current theme light)</div>
                    <div class="visually-hidden theme-label-when-dark">Toggle theme (current theme dark)</div>
                    <svg aria-hidden="true" class="theme-icon-when-auto">
                        <use xlink:href="#icon-auto"></use>
                    </svg>
                    <svg aria-hidden="true" class="theme-icon-when-dark">
                        <use xlink:href="#icon-moon"></use>
                    </svg>
                    <svg aria-hidden="true" class="theme-icon-when-light">
                        <use xlink:href="#icon-sun"></use>
                    </svg>
                </button>
        </div>
    </header>
    <!-- END Header -->
    <nav aria-label="Breadcrumbs">
        <div class="breadcrumbs">
            <a href="/LOGIN/home/">Home</a>
            &rsaquo; <a href="/admin/LOGIN/">Login</a>
            &rsaquo; <a href="/admin/LOGIN/plantilla/">Plantillas</a>
            &rsaquo; Add plantilla
        </div>
    </nav>
    <div class="main" id="main">
         <main id="content-start" class="content" tabindex="-1">
            <!-- Content -->
            <div id="content" class="colM">

                <h1>Ver PLANTILAS:</h1>
                        <form method="post" action="{% url 'CREAR_PLANTILLA' %}">
                            {% csrf_token %}
                            <div>
                                <select name="Plantilla_cb" required id="id_plantilla_cb">
                                    <option value="" selected>---------</option>
                                    {% for plantilla in Plantilla %}
                                        <option value="{{ plantilla.id_plantilla }}">{{ plantilla.nombre_plantilla }}</option>
                                    {% endfor %}
                                </select>
                                <!--
                                <input type="button" value="✎ Editar" class="default" name="_xxx" onclick="actualizar_campos_form()">
                                -->
                                <input type="submit" value="✘ Eliminar" class="default" name="_delete_plan">
                            </div>
                        </form>

                <h1>CREAR PLANTILLA</h1>
                <div id="content-main">
                    <form method="post" action="{% url 'CREAR_PLANTILLA' %}">
                        {% csrf_token %}                        
                        <div>
                            <fieldset class="module aligned ">
                                <div class="form-row field-nombre_plantilla">
                                    <div>
                                        <div class="flex-container">
                                            <label class="required" for="id_nombre_plantilla">Nombre plantilla:</label>
                                            <input type="text" name="nombre_plantilla" class="vTextField" maxlength="100" required id="id_nombre_plantilla">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row field-tema">
                                    <div>
                                        <div class="flex-container">
                                            <label class="required" for="id_tema">Tema:</label>
                                            <input type="text" name="tema" class="vTextField" maxlength="100" required id="id_tema">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row field-owner">
                                    <div>
                                        <div class="flex-container">
                                            <label class="required" for="id_owner">Auditor:</label>
                                            <div class="related-widget-wrapper" data-model-ref="users">
                                                <select name="usuario_cb" required id="id_usuario_cb">
                                                    <option value="" selected>---------</option>
                                                    {% for usuario in USERS %}
                                                        <option value="{{ usuario.id_usuario }}">{{ usuario.full_name }}</option>
                                                    {% endfor %}
                                                </select>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row field-description">
                                    <div>
                                        <div class="flex-container">
                                            <label class="required" for="id_description">Descripcion:</label>
                                            <input type="text" name="description" class="vTextField" maxlength="1000" required id="id_description">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row field-created_date">
                                    <div>
                                        <div class="flex-container">
                                            <label class="required">Fecha creacion</label>
                                            <p class="datetime">
                                                <input type="datetime-local" name="created_date" required id="id_created_date">
                                            </p>
                                            <div>
                                                <label>Formato: YYYY-MM-DDTHH:MM</label>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </fieldset>
                            <div class="submit-row">
                                <input type="submit" value="GUARDAR" class="default" name="_save_plan">
                            </div>
							
                            <script id="django-admin-form-add-constants" src="./change_form.js" data-model-name="plantilla" async></script>
                            <script id="django-admin-prepopulated-fields-constants" src="./prepopulate_init.js" data-prepopulated-fields="[]"></script>
                        </div>
                    </form>
                </div>
                <br class="clear">
            </div>
            <!-- END Content -->
            <div id="footer"></div>
        </main>
    </div>
</div>
<!-- END Container -->
<!-- SVGs -->
<!-- END SVGs -->
</body>
</html>
