<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Evalua actividades</title>
    <link rel="stylesheet" href="/static/admin/css/base.css">
    <link rel="stylesheet" href="/static/admin/css/dark_mode.css">
    <script src="/static/admin/js/theme.js" defer></script>
    <link rel="stylesheet" href="/static/admin/css/nav_sidebar.css">
    <script src="/static/admin/js/nav_sidebar.js" defer></script>
    <link rel="stylesheet" href="/static/admin/css/forms.css">
    <script src="/admin/jsi18n/"></script>
    <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script src="/static/admin/js/calendar.js"></script>
    <script src="/static/admin/js/jquery.init.js"></script>
    <script src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
    <script src="/static/admin/js/core.js"></script>
    <script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script src="/static/admin/js/actions.js"></script>
    <script src="/static/admin/js/urlify.js"></script>
    <script src="/static/admin/js/prepopulate.js"></script>
    <script src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/admin/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">
    <style>
        .logo-small {
            width: 50px;
            height: auto;
            padding-right: 30px;
        }
        .form-container {
            margin-bottom: 20px;
        }
    </style>
</head>
<body class="app-LOGIN model-evaluacionactividad change-form" data-admin-utc-offset="0">
<a href="#content-start" class="skip-to-content-link">Skip to main content</a>
<div id="container">
    <header id="header">
        <div id="branding">
            <div id="site-name">
                <img src="/static/imagen/logosga.png" alt="Logo SGA" class="logo-small">
                <a href="/admin/">SISTEMA DE GESTION DE AUDITORIA</a>
            </div>
        </div>
        <div id="user-tools">
            Welcome, <strong>USER</strong>.
            <form id="logout-form" method="post" action="/admin/logout/">
                <input type="hidden" name="csrfmiddlewaretoken" value="IzB6GzAUqOhV34xbTuCMQGN7YYgQz5TVkBaLhtW5X6erV4VIeT4ajIM0yW9SToJ0">
                <button type="submit">Log out</button>
            </form>
            <button class="theme-toggle">
                <div class="visually-hidden theme-label-when-auto">Toggle theme (current theme: auto)</div>
                <div class="visually-hidden theme-label-when-light">Toggle theme (current theme: light)</div>
                <div class="visually-hidden theme-label-when-dark">Toggle theme (current theme: dark)</div>
                <svg aria-hidden="true" class="theme-icon-when-auto">
                    <use xlink:href="#icon-auto"></use>
                </svg>
                <svg aria-hidden="true" class="theme-icon-when-dark">
                    <use xlink:href="#icon-moon"></use>
                </svg>
                <svg aria-hidden="true" class="theme-icon-when-light">
                    <use xlink:href="#icon-sun"></use>
                </svg>
            </button>
        </div>
    </header>
    <nav aria-label="Breadcrumbs">
        <div class="breadcrumbs">
            <a href="/LOGIN/home/">Home</a> &rsaquo;
            <a href="/LOGIN/">Login</a> &rsaquo;
        </div>
    </nav>
    <div class="main" id="main">
        <button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="Toggle navigation"></button>
        <nav class="sticky" id="nav-sidebar" aria-label="Sidebar">
            <input type="search" id="nav-filter" placeholder="Start typing to filter…" aria-label="Filter navigation items">
        </nav>
        <main id="content-start" class="content" tabindex="-1">
            <div id="content" class="colM">
                <h1>EVALUAR ACTIVIDAD</h1>
                <div id="content-main">
                    <!-- Primer Formulario -->
                    <div class="form-container">
                        <form method="post" id="formulario_form" novalidate>
                            {% csrf_token %}
                            {{ formulario_form.as_p }}
                        <form method="post" id="evaluacionactividad_form" novalidate>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="submit-row">
                                <input type="submit" value="GUARDAR Y CONTINUAR EDITANDO" class="default" name="_continue">
                                <input type="submit" value="Eliminar" name="_delete">
                            </div>
                        </form>
                    </div>                  
                </div>
                <br class="clear">
            </div>
        </main>
    </div>
    <footer></footer>
</div>
</body>
</html>
