<!DOCTYPE html>
<html lang="en-us" dir="ltr">
<head>
  <title>Home Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <!-- Tus otros estilos y scripts -->
  <link rel="stylesheet" href="/static/admin/css/base.css">
  <link rel="stylesheet" href="/static/admin/css/dark_mode.css">
  <script src="/static/admin/js/theme.js" defer></script>
  <link rel="stylesheet" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer></script>
  <link rel="stylesheet" href="/static/admin/css/changelists.css">
  <script src="/admin/jsi18n/"></script>
  <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
  <script src="/static/admin/js/jquery.init.js"></script>
  <script src="/static/admin/js/core.js"></script>
  <script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
  <script src="/static/admin/js/actions.js"></script>
  <script src="/static/admin/js/urlify.js"></script>
  <script src="/static/admin/js/prepopulate.js"></script>
  <script src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
  <script src="/static/admin/js/filters.js" defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/admin/css/responsive.css">
  <meta name="robots" content="NONE,NOARCHIVE">
  <style>
    .logo-small {
      width: 100px;
      height: auto;
      padding-right: 30px;
    }
    .carousel-item img {
      width: 100%;
      height: 20%;
      object-fit: cover;
      object-position: center; /* Centra la imagen hacia abajo */
    }
    .carousel-inner {
      width: 100%;
      height: 100%; /* Ajusta la altura según tus necesidades */
      position: relative;
    }
    .carousel-caption {
      position: absolute;
      bottom: 20px; /* Ajusta la posición según tus necesidades */
      left: 50%;
      transform: translateX(-50%);
      color: rgb(0, 59, 107);
      background-color: rgba(255, 255, 255, 0.5);
      padding: 10px;
      border-radius: 5px;
    }
  </style>
</head>

<body class="app-LOGIN model-users change-list" data-admin-utc-offset="0">
  <a href="#content-start" class="skip-to-content-link">Skip to main content</a>
  <!-- Container -->
  <div id="container">
    <!-- Header -->
    <header id="header">
      <div id="branding">
        <div id="site-name">
          <img src="/static/imagen/logosga.png" alt="Logo SGA" class="logo-small">
          <a href="/admin/">SISTEMA DE GESTION DE AUDITORIA</a>
        </div>
      </div>
      <div id="user-tools">
        Welcome,
        <strong>USER</strong>.
        <a href="/LOGIN/">Cerrar Sesión</a>
        <button class="theme-toggle">
          <div class="visually-hidden theme-label-when-auto">Toggle theme (current theme: auto)</div>
          <div class="visually-hidden theme-label-when-light">Toggle theme (current theme: light)</div>
          <div class="visually-hidden theme-label-when-dark">Toggle theme (current theme: dark)</div>
          <svg aria-hidden="true" class="theme-icon-when-auto">
            <use xlink:href="#icon-auto" />
          </svg>
          <svg aria-hidden="true" class="theme-icon-when-dark">
            <use xlink:href="#icon-moon" />
          </svg>
          <svg aria-hidden="true" class="theme-icon-when-light">
            <use xlink:href="#icon-sun" />
          </svg>
        </button>
      </div>
    </header>
    <!-- END Header -->
    <nav aria-label="Breadcrumbs">
      <div class="breadcrumbs">
        <a href="/LOGIN/home/">Home</a>
        &rsaquo; <a href="/admin/LOGIN/">Login</a>
        &rsaquo; Users
      </div>
    </nav>
    <div class="main" id="main">
      <button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="Toggle navigation"></button>
      <nav class="sticky" id="nav-sidebar" aria-label="Sidebar">
        <input type="search" id="nav-filter" placeholder="Start typing to filter…" aria-label="Filter navigation items">
        <div class="app-auth module">
          <table>
            <caption>
              <a href="/admin/auth/" class="section" title="Models in the Authentication and Authorization application">Authentication and Authorization</a>
            </caption>
            <tr class="model-user">
              <th scope="row"><a href="/admin/auth/user/">Users</a></th>
              <td><a href="/admin/auth/user/add/" class="addlink">Add</a></td>
            </tr>
          </table>
        </div>
        <div class="app-LOGIN module current-app">
          <table>
            <caption>
              <a href="/LOGIN/home/" class="section" title="Models in the Login application">HOME</a>
            </caption>
            <tr class="model-evaluacionactividad">
              <th scope="row"><a href="/LOGIN/historial/">CONSULTAR AUDITORIAS</a></th>
            </tr>
            <tr class="model-formulario">
              <th scope="row"><a href="/LOGIN/auditoria/">AUDITAR</a></th>
            </tr>
            <tr class="model-historialauditoria">
              <th scope="row"><a href="/LOGIN/agenda_auditoria_jar/">AGENDAR AUDITORIA</a></th>
            </tr>
            <tr class="model-plantilla">
              <th scope="row"><a href="/LOGIN/crear_plantilla/">CREAR PLANTILLA</a></th>
            </tr>
            <tr class="model-formulario">
              <th scope="row"><a href="/LOGIN/formulario_actividades/">EDITAR FOMRULARIO</a></th>
            </tr>
            <tr class="model-users current-model">
              <th scope="row"><a href="/LOGIN/guardar_usuario/" aria-current="page">CREAR USUARIO</a></th>
            </tr>
          </table>
        </div>
      </nav>
      <main id="content-start" class="content" tabindex="-1">
        <div id="content" class="">
          <h1>SGA - SISTEMA DE GESTION DE AUDITORIAS</h1>
          <!-- Aquí va el carrusel -->
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/static/imagen/sga1.jpg" alt="Primera Imagen">
                <div class="container">
                  <div class="carousel-caption text-start">
                    <h1>HISTORIAL</h1>
                    <p>Revisa los últimos registros de tus auditorías...</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/static/imagen/sga2.jpg" alt="Segunda Imagen">
                <div class="container">
                  <div class="carousel-caption">
                    <h1>CREAR USUARIO</h1>
                    <p>Crea tu usuario y empieza a auditar ya!!</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/static/imagen/sga3.jpg" alt="Tercera Imagen">
                <div class="container">
                  <div class="carousel-caption text-end">
                    <h1>CREAR PLANTILLA</h1>
                    <p>Crea tus plantillas personalizadas...</p>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <script src="/static/admin/js/nav_sidebar.js" defer></script>
        </div>
      </main>
    </div>
  </div>
  <!-- END Container -->
</body>
</html>
